<div>
  <div class="login-container">
    <div class="auth-wrapper w-100">
      <div class="card" style="border:0px solid !important">
        <h2 class="text-center mb-4">Forgot Password?</h2>
        <div class="field-group">
          <input id="forgot_forgotpassword" type="text" class="input-field" placeholder="Enter the Email"
            [(ngModel)]="Forgotdata" (blur)="onForgot($event)">
          <!-- <p class="mt-2">You will receive an email with a link to reset your password </p> -->
          <div *ngIf="userExists || userBool" class="validation-msg">
            <div *ngIf="userExists">Email does not exist.</div>
            <div *ngIf="userBool">Email is required.</div>
          </div>

        </div>
        <button id="forgot_getresetlink" type="submit" class="button button-secondary w-100 mt-3 mb-4"
          [disabled]="forgotdisabledBool" (click)="GetResetLink()">Get Reset
          Link</button>
        <div class="text-center mt-3">
          <button id="forgot_backtologin" type="button" class="button has-icon button-clear" (click)="goToLogin()">
            <div class="d-flex align-items-center justify-content-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                <path d="M0,0H24V24H0Z" fill="none" />
                <path d="M11.67,3.87,9.9,2.1,0,12l9.9,9.9,1.77-1.77L3.54,12Z" transform="translate(0 0)" />
              </svg>
              <span>Back to login</span>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="loader" *ngIf="Loader">
  <div class="loaderimgdiv"><img class="loaderimg" src="../../assets/images/loader.gif"></div>
</div>
