.login-content-wrapper {
    background-image: url(../../assets/images/cover_image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: calc(100vh - 0px);
    padding-left: 30px;
    padding-right: 30px;
}

.login-container {
   
    width: 100%;
    margin-top: 20px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 10%;
}
.input-field {
    box-shadow: 0 2px 16px rgb(0 0 0 / 10%);
    height: 45px !important;
    border: 0px solid #e9e9e9 !important;
}
h2.text-center.mb-4 {
    font-size: 25px;
}

.auth-wrapper {
    margin: 20px 35px;
}

.auth-wrapper a {
    text-decoration: none;
}