.ptop{
    padding-top: 20px;
}
a.blockbuilder-branding {
    display: none !important;
}
.CPMVX .blockbuilder-branding {
    display: none !important;
}
a.blockbuilder-branding span {
    display: none !important;
}
