<div class="">
  <div class="">
    <h3 class="pb-2">Updates</h3>
  </div>

  <div class="table-wrapper divradius pt-1 mt-4">
    <div class="table-actions">
      <div class="row mt-4 mx-3">
        <div class="col d-flex align-items-center pl-0">
          <div class="mr-2">
            <label for="" class="mr-2"> Show:</label>
            <select name="" id="updates_show" style="width:100px" (change)="onChooseDataPerPage($event)">
              <option value="0" selected>Select</option>
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="15">15</option>
              <option value="20">20</option>
            </select>
          </div>
          <div>
            <select name="" id="updates_dropdownupdatevalue" (change)="onChange($event)">
              <option *ngFor="let item of DropdownUpdateValue" [value]="item.id == 'null' ? '': item.id"
                [selected]="item.id == UpdateValueId">
                {{ item.name }}
              </option>
            </select>
          </div>
        </div>
        <div class="col text-right">
          <button id="updates_downloadall" type="submit" class=" button-outline ml-3">Download All</button>
        </div>
      </div>

    </div>
    <div *ngIf="UpdateValue.length != 0">
      <table class="documents-table mt-3">
        <thead>
          <tr>
            <th scope="col" [appSort]="UpdateValue" data-order="desc" data-name="name">Name</th>
            <th scope="col" [appSort]="UpdateValue" data-order="desc" data-name="subject">Subject</th>
            <th scope="col" [appSort]="UpdateValue" data-order="desc" data-name="createdOn">Date</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of UpdateValue  | paginate: config">
            <td>{{item.name}}</td>
            <td>{{item.subject}}</td>
            <td>{{item.createdOn | date}}</td>
            <td>
              <app-view-updates id="updates_preview_{{item.id}}" [UpdateData]="item.id"></app-view-updates>
              <span class="action-icon" *ngIf="item.attachmentCount > 0" (click)="downloadDocument(item.id)">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                  <path d="M0 0h24v24H0V0z" fill="none" />
                  <path d="M13 5v6h1.17L12 13.17 9.83 11H11V5h2m2-2H9v6H5l7 7 7-7h-4V3zm4 15H5v2h14v-2z" />
                </svg> </span>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
  </div>
</div>

<div class="loader" *ngIf="Loader">
  <div class="loaderimgdiv"><img class="loaderimg" src="../../assets/images/loader.gif"></div>
</div>
