  <!-- Main Content Start -->

    <div class="">
      <div class="header-nav tab-menu pl-0 mb-4">
        <div class="nav-right">
          <ul class="d-flex pl-0 m-0">
            <li id="invest_activeofferings" class="nav-link active" [ngClass]="{active: Selected == 'ActiveOffering'}"
              (click)="selectActiveOffering()">Active Offerings<span class="bubble"
                [ngClass]="Selected == 'ActiveOffering'? 'bubble' : 'bubble-inactive'">{{actCount}}</span> </li>
            <li id="invest_reservations" class="nav-link active" [ngClass]="{active: Selected == 'Reservation'}"
              (click)="selectReservation()">
              Reservations<span class="bubble"
                [ngClass]="Selected == 'Reservation'? 'bubble' : 'bubble-inactive'">{{resCount}}</span> </li>
            <li id="invest_pastofferings" class="nav-link active" [ngClass]="{active: Selected == 'PastOffering'}"
              (click)="selectPastOffering()">
              Past Offerings<span class="bubble"
                [ngClass]="Selected == 'PastOffering'? 'bubble' : 'bubble-inactive'">{{PastCount}}</span> </li>
          </ul>
        </div>
      </div>

      <div class="marketplace-deal-wrapper investpadding">
        <div class="row">
          <div class="col-sm-12 p-0">
            <div class="" *ngIf="Activeofferingtab">
              <div class="nodata" *ngIf="Activeoffering.length == 0">No Active Investments Yet...</div>
              <div *ngIf="Activeoffering.length > 0">
                <div class="card-content" *ngFor="let item of Activeoffering">
                  <div class="row divradius">
                    <div class="col-auto card-image">
                      <img *ngIf="item.pictureUrl == null" src="../../assets/images/default_construction.png" alt="">
                      <img *ngIf="item.pictureUrl != null" src={{item.pictureUrl}} alt="image-missing">
                    </div>
                    <div class="col deal-content w-100">
                      <div class="deal-header">
                        <h3>{{item.name}}</h3>
                        <p>TechTown Equity LLC LH Tri-Phase Series</p>
                      </div>
                      <div class="deal-highlight-content dealheight d-flex mt-3 justify-content-between">
                        <div class="highlights">
                          <h3>{{item.size  | currency:'USD' : 'symbol' : '1.0-0'}}</h3>
                          <p>Offering Size</p>
                        </div>
                        <div class="highlights">
                          <h3>{{item.minimumInvestment  | currency:'USD' : 'symbol' : '1.0-0'}}</h3>
                          <p>Minimum Investment</p>
                        </div>
                        <div class="highlights" *ngFor="let key of item.keyHighlights">
                          <div *ngIf="key.visibility == true">
                            <h3 *ngIf="key.name == 'Offering Size' || key.name == 'Minimum Investment'">{{key.value |
                              currency:'USD' : 'symbol' : '1.0-0'}}</h3>
                            <h3 *ngIf="key.name != 'Offering Size' && key.name != 'Minimum Investment'">{{key.value}}
                            </h3>
                            <p *ngIf="key.name != null">{{key.name}}</p>
                            <p *ngIf="key.name == null">{{key.field}}</p>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer d-flex justify-content-between mt-5">
                        <div>
                          <app-view-details id="invest_active_viewdetails" [ViewDetailData]="item.id"></app-view-details>
                          <button id="invest_active_investnow" class="button-outline-secondary" [disabled]="InvestDisabled"
                            (click)="onInvestNow(item)">Invest now</button>
                        </div>
                        <div class="location">
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="tooltip-wrapper tooltip-lg">
                              <div class="tooltip-toggle icon-only clickable">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                  fill="#c8202f">
                                  <path d="M0 0h24v24H0z" fill="none" />
                                  <path
                                    d="M12 12c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm6-1.8C18 6.57 15.35 4 12 4s-6 2.57-6 6.2c0 2.34 1.95 5.44 6 9.14 4.05-3.7 6-6.8 6-9.14zM12 2c4.2 0 8 3.22 8 8.2 0 3.32-2.67 7.25-8 11.8-5.33-4.55-8-8.48-8-11.8C4 5.22 7.8 2 12 2z" />
                                </svg>
                              </div>
                              <div class="tooltip-text">
                                2519 Co Rd 323, Liberty Hill, TX 78642, USA
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="" *ngIf="Reservationtab">
              <div *ngIf="Reservation.length == 0" class="nodata">No Reservations Yet...</div>
              <div *ngIf="Reservation.length > 0">
                <div class="card-content" *ngFor="let item of Reservation">
                  <div class="row divradius">
                    <div class="col-auto card-image">
                      <img src={{item.pictureUrl}} alt="image-missing">
                    </div>
                    <div class="col deal-content">
                      <div class="deal-header">
                        <h3>{{item.name}}</h3>
                        <p>TechTown Equity LLC LH Tri-Phase Series</p>
                      </div>
                      <div class="deal-highlight-content dealheight d-flex mt-3 justify-content-between">
                        <div class="highlights">
                          <h3>{{item.size  | currency:'USD' : 'symbol' : '1.0-0'}}</h3>
                          <p>Reservation Size</p>
                        </div>
                        <div class="highlights">
                          <h3>{{item.minimumInvestment  | currency:'USD' : 'symbol' : '1.0-0'}}</h3>
                          <p>Minimum Investment</p>
                        </div>
                        <div class="highlights" *ngFor="let key of item.keyHighlights">
                          <div *ngIf="key.visibility == true">
                            <h3 *ngIf="key.name == 'Offering Size' || key.name == 'Minimum Investment'">{{key.value |
                              currency:'USD' : 'symbol' : '1.0-0'}}</h3>
                            <h3 *ngIf="key.name != 'Offering Size' && key.name != 'Minimum Investment'">{{key.value}}
                            </h3>
                            <p>{{key.name}}</p>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer d-flex justify-content-between mt-5">
                        <div>
                          <app-view-details id="invest_reservation_viewdetails" [ViewDetailData]="item.id"></app-view-details>
                          <button id="invest_reservation_addedit" class="button-outline-secondary" data-toggle="modal" data-target="#AddEditReservationPopup"
                            (click)="onAddEditReservation(item)">Add/Edit
                            Reservation</button>
                        </div>
                        <div class="location">
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="tooltip-wrapper tooltip-lg">
                              <div class="tooltip-toggle icon-only clickable">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                  fill="#c8202f">
                                  <path d="M0 0h24v24H0z" fill="none" />
                                  <path
                                    d="M12 12c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm6-1.8C18 6.57 15.35 4 12 4s-6 2.57-6 6.2c0 2.34 1.95 5.44 6 9.14 4.05-3.7 6-6.8 6-9.14zM12 2c4.2 0 8 3.22 8 8.2 0 3.32-2.67 7.25-8 11.8-5.33-4.55-8-8.48-8-11.8C4 5.22 7.8 2 12 2z" />
                                </svg>
                              </div>
                              <div class="tooltip-text">
                                2519 Co Rd 323, Liberty Hill, TX 78642, USA
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="" *ngIf="Pastofferingtab">
              <div *ngIf="Pastoffering.length == 0" class="nodata">No Past Investments Yet...</div>
              <div *ngIf="Pastoffering.length > 0">
                <div class="card-content" *ngFor="let item of Pastoffering">
                  <div class="row divradius">
                    <div class="col-auto card-image">
                      <img src={{item.pictureUrl}} alt="image-missing">
                    </div>
                    <div class="col deal-content">
                      <div class="deal-header">
                        <h3>{{item.name}}</h3>
                        <p>TechTown Equity LLC LH Tri-Phase Series</p>
                      </div>
                      <div class="deal-highlight-content dealheight d-flex mt-3 justify-content-between">
                        <div class="highlights">
                          <h3>{{item.size  | currency:'USD' : 'symbol' : '1.0-0'}}</h3>
                          <p>Offering Size</p>
                        </div>
                        <div class="highlights">
                          <h3>{{item.minimumInvestment  | currency:'USD' : 'symbol' : '1.0-0'}}</h3>
                          <p>Minimum Investment</p>
                        </div>
                        <div class="highlights" *ngFor="let key of item.keyHighlights">
                          <div *ngIf="key.visibility == true">
                            <h3 *ngIf="key.name == 'Offering Size' || key.name == 'Minimum Investment'">{{key.value |
                              currency:'USD' : 'symbol' : '1.0-0'}}</h3>
                            <h3 *ngIf="key.name != 'Offering Size' && key.name != 'Minimum Investment'">{{key.value}}
                            </h3>
                            <p>{{key.name}}</p>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer d-flex justify-content-between mt-5">
                        <div>
                          <app-view-details id="invest_past_viewdetails" [ViewDetailData]="item.id"></app-view-details>
                        </div>
                        <div class="location">
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="tooltip-wrapper tooltip-lg">
                              <div class="tooltip-toggle icon-only clickable">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                  fill="#c8202f">
                                  <path d="M0 0h24v24H0z" fill="none" />
                                  <path
                                    d="M12 12c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm6-1.8C18 6.57 15.35 4 12 4s-6 2.57-6 6.2c0 2.34 1.95 5.44 6 9.14 4.05-3.7 6-6.8 6-9.14zM12 2c4.2 0 8 3.22 8 8.2 0 3.32-2.67 7.25-8 11.8-5.33-4.55-8-8.48-8-11.8C4 5.22 7.8 2 12 2z" />
                                </svg>
                              </div>
                              <div class="tooltip-text">
                                2519 Co Rd 323, Liberty Hill, TX 78642, USA
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  <div class="modal modal_outer right_modal fade" data-keyboard="false" data-backdrop="static" id="AddEditReservationPopup"
  tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" [style.display]="AddEditReservationPopup ? 'block' : 'none'">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <h3>Add Reservation</h3>
        <button type="button" class="close" aria-label="Close" (click)="AddEditReservationPopup = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body get_quote_view_modal_body">
        <div class="modal-content" style="max-height: 400px;overflow:auto;">
          <div class="">
            <div class="field-group">
              <div class="row mt-4">
                <div class="col">
                  <label for="">Investing As</label>
                  <select id="invest_addeditreservepop_investingas" [(ngModel)]="InvestingProfile"
                    (change)="onChooseProfileChange($event)">
                    <option *ngFor="let item of ProfileValue" [value]="item.id == 'null' ? '': item.id"
                      [selected]="item.id == InvestingProfile">
                      <span *ngIf="item.name != null">{{ item.name }}</span>
                      <span *ngIf="item.firstName != null">{{ item.name }}</span>
                      <span *ngIf="item.trustName != null">{{ item.name }}</span>
                      <span *ngIf="item.retirementPlanName != null">{{ item.name }}</span>
                    </option>
                  </select>
                  <div *ngIf="InvestError" class="validation-msg">
                    <div *ngIf="InvestError">Selected Profile is required</div>
                  </div>
                </div>
                <div class="col mt-3">
                  <app-add-profile id="invest_addeditreservepop_addprofile" (messageEvent)="receiveMessage($event)"
                    [ProfileValue]="Profile"></app-add-profile>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col">
                  <label for="investmentamount" class="">Investment Amount</label>
                  <input id="invest_addeditreservepop_investmentamount" type="text" class="input-field" placeholder="Enter Amount Here"
                    [(ngModel)]="InvestmentAmount" (blur)="onInsAmt($event)">
                  <div *ngIf="InsAmtError || MinimumError" class="validation-msg">
                    <div *ngIf="InsAmtError">Invested Amount is required</div>
                    <div *ngIf="MinimumError">Investment Amount is greater than reservation size</div>
                  </div>
                </div>
                <div class="col mt-3">
                  <h4 class="">Minimum Investment</h4>
                  <div>{{MinInvestment  | currency:'USD' : 'symbol' : '1.0-0'}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class=" modal-footer text-center mt-5">
          <button id="invest_addeditreservepop_reserve" *ngIf="!ExistProfileHide" class="button-outline mr-3"
            (click)="onReserve('reserve')">Reserve</button>
          <button id="invest_addeditreservepop_withdraw" *ngIf="ExistProfileShow" class="button mr-3"
            (click)="onReserve('withdraw')">Withdraw</button>
          <button id="invest_addeditreservepop_update" *ngIf="ExistProfileShow" class="button" (click)="onReserve('update')">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="loader" *ngIf="Loader">
  <div class="loaderimgdiv"><img class="loaderimg" src="../../assets/images/loader.gif"></div>
</div>

