<main>
  <div class="" *ngIf="HeaderData != null && InvestmentData.length > 0">
    <div class="container-fluid mb-4">
      <div class="row" *ngIf="HeaderData != null">
        <div class="col-md-3 pl-0">
          <div class="leasereport lead1">
            <div class="leaseheadtxt">Active Investments</div>
            <img src="../../assets/images/leads.png" class="leaseimg">
            <div class="leaseptxt">{{HeaderData?.activeInvestments}}</div>
          </div>
        </div>
        <div class="col-md-3 pl-0">
          <div class="leasereport lead2">
            <div class="leaseheadtxt">Total Invested </div>
            <img src="../../assets/images/invest3.png" class="leaseimg">
            <div class="leaseptxt">{{HeaderData?.totalInvested | currency:'USD' : 'symbol' : '1.0-0'}}</div>
          </div>
        </div>
        <div class="col-md-3 pl-0">
          <div class="leasereport lead1">
            <div class="leaseheadtxt">Total Earnings</div>
            <img src="../../assets/images/invest2.png" class="leaseimg">
            <div class="leaseptxt">{{HeaderData?.totalEarnings | currency:'USD' : 'symbol' : '1.0-0'}}</div>
          </div>
        </div>
        <div class="col-md-3 pl-0">
          <div class="leasereport lead4">
            <div class="leaseheadtxt">Total Return</div>
            <img src="../../assets/images/leads5.png" class="leaseimg">
            <div class="leaseptxt">{{HeaderData?.totalReturn}}%</div>
          </div>
        </div>
      </div>
    </div>

    <div class="header-nav tab-menu pl-0 mb-4">
      <div class="d-flex align-items-center justify-content-between">
        <div class="nav-right">
          <ul class="d-flex pl-0 m-1">
            <li id="myinvestment_activeinvestment" class="nav-link" [ngClass]="{active: Selected == 'ActiveInvestment'}"
              (click)="ActiveInvest()">Active
              Investments
              <span class="bubble"
                [ngClass]="Selected == 'ActiveInvestment'? 'bubble' : 'bubble-inactive'">{{ActiveCount}}</span>
            </li>
            <li id="myinvestment_pendinginvestment" class="nav-link"
              [ngClass]="{active: Selected == 'PendingInvestment'}" (click)="PendingInvest()">
              Pending Investments<span class="bubble"
                [ngClass]="Selected == 'PendingInvestment'? 'bubble' : 'bubble-inactive'">{{PendingCount}}</span></li>
            <li id="myinvestment_pastinvestment" class="nav-link" [ngClass]="{active: Selected == 'PastInvestment'}"
              (click)="PastInvest()">Past
              Investments
              <span class="bubble"
                [ngClass]="Selected == 'PastInvestment'? 'bubble' : 'bubble-inactive'">{{PastCount}}</span>
            </li>
            <li id="myinvestment_reservations" class="nav-link" [ngClass]="{active: Selected == 'Reservation'}"
              (click)="Reservation()">
              Reservations<span class="bubble"
                [ngClass]="Selected == 'Reservation'? 'bubble' : 'bubble-inactive'">{{ReserveCount}}</span></li>
          </ul>
        </div>
        <div>
          <button id="myinvestment_viewavalibleoffering" class=" button-outline mr-3"
            (click)="onViewAvalibleOfferings()">View Available Offerings</button>
          <app-account-statement id="investor_accountstatement" [AccountStatementData]="AccountStatementDataValue">
          </app-account-statement>
        </div>
      </div>
    </div>

    <div class="marketplace-deal-wrapper investpadding">
      <div class="row">
        <div class="col-sm-12 p-0">
          <div class="" *ngIf="ActiveShow">
            <div class="nodata" *ngIf="ActiveInvestor.length == 0">No Active Investment...</div>
            <div *ngIf="ActiveInvestor.length > 0">
              <div class="card-content" *ngFor="let item of ActiveInvestor">
                <div class="row divradius">
                  <div class="col-auto card-image">
                    <img src="{{item.offeringPictureUrl}}" alt="image-missing">
                  </div>
                  <div class="col deal-content ">
                    <div class="d-flex justify-content-between ">
                      <div class="deal-header mr-2">
                        <h3>{{item.offeringName}}</h3>
                        <p>{{item.offeringEntityName}}</p>
                      </div>
                      <div class="deal-sub-header d-flex">
                        <p class="apprbtn" *ngIf="item.status == 1">Approved</p>
                        <p class="penbtn"
                          *ngIf="item.status == 2 && item.iseSignCompleted == false && item.wireTransferDate != null">
                          Pending eSignature</p>
                        <p class="penbtn"
                          *ngIf="item.status == 2 && item.iseSignCompleted == true && item.wireTransferDate == null">
                          Pending Funding</p>
                        <p class="penbtn"
                          *ngIf="item.status == 2 && item.iseSignCompleted == false && item.wireTransferDate == null">
                          Pending eSignature and Funding</p>
                        <p class="awbtn"
                          *ngIf="item.status == 2 && item.iseSignCompleted == true && item.wireTransferDate != null">
                          Awaiting Approval</p>
                        <!-- <p class="request-date" *ngIf="item.status == 3">Pending Investor Signature and Funding</p>
                        <p class="request-date" *ngIf="item.status == 4">Pending Funding</p>
                        <p class="request-date" *ngIf="item.status == 10">Pending Reservation</p> -->
                        <p class="request-date ml-3"> <strong> {{item.approvedOn | date}} </strong><br> <span
                            class="color-grey">Investment Approved on</span> </p>
                      </div>
                    </div>
                    <div class="deal-highlight-content dealheight d-flex mt-3 justify-content-between">
                      <div class="highlights">
                        <div>
                          <td *ngIf="item.userProfile.name != null">
                            <h3>{{item.userProfile.name}}</h3>
                          </td>
                          <td *ngIf="item.userProfile.firstName != null">
                            <h3>{{item.userProfile.firstName}} {{item.userProfile.lastName}}</h3>
                          </td>
                          <td *ngIf="item.userProfile.trustName != null">
                            <h3>{{item.userProfile.trustName}}</h3>
                          </td>
                          <td *ngIf="item.userProfile.retirementPlanName != null">
                            <h3>{{item.userProfile.retirementPlanName}}</h3>
                          </td>
                          <p>Profile</p>
                        </div>
                      </div>
                      <div class="highlights">
                        <td>
                          <h3 *ngIf="item.fundedDate == null">-</h3>
                          <h3 *ngIf="item.fundedDate != null">{{item.fundedDate | date}}</h3>
                          <P>Funded Date</P>
                        </td>
                      </div>
                      <div class="highlights">
                        <td>
                          <h3>{{item.amount | currency:'USD' : 'symbol' : '1.0-0'}}</h3>
                          <P>Amount Invested</P>
                        </td>
                      </div>
                      <div class="highlights">
                        <td>
                          <h3>{{item.totalEarnings | currency:'USD' : 'symbol' : '1.0-0'}}</h3>
                          <P>Total Return</P>
                        </td>
                      </div>
                      <div class="highlights" *ngFor="let key of item.keyHighlights">
                        <div *ngIf="key.visibility == true">
                          <div *ngIf="key.name == 'Target IRR' || key.name == 'Term' || key.name == 'Type'">
                            <h3>{{key.value}}</h3>
                            <p>{{key.name}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between mt-5">
                      <div>
                        <!-- <button id="myinvestment_activeviewdetails" class="button-outline mr-3" (click)="onViewDetails(item)">View Details</button> -->
                        <app-view-details id="myinvestment_activeviewdetails" [ViewDetailData]="item.offeringId">
                        </app-view-details>
                        <button id="myinvestment_activeviewupdates" class="button mr-3" (click)="onViewUpdates(item)"
                          data-toggle="modal" data-target="#ViewUpdatePopup">View Updates</button>
                        <button id="myinvestment_activedistributionhistory" class="button" data-toggle="modal"
                          data-target="#DistributionHistoryPopup" (click)="onDistributionHistory(item)">Distribution
                          History</button>
                      </div>
                      <div class="location">
                        <div class="tooltip-wrapper tooltip-lg">
                          <div class="tooltip-toggle icon-only clickable">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                              fill="#c8202f">
                              <path d="M0 0h24v24H0z" fill="none" />
                              <path
                                d="M12 12c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm6-1.8C18 6.57 15.35 4 12 4s-6 2.57-6 6.2c0 2.34 1.95 5.44 6 9.14 4.05-3.7 6-6.8 6-9.14zM12 2c4.2 0 8 3.22 8 8.2 0 3.32-2.67 7.25-8 11.8-5.33-4.55-8-8.48-8-11.8C4 5.22 7.8 2 12 2z" />
                            </svg>
                          </div>
                          <div class="tooltip-text">
                            2519 Co Rd 323, Liberty Hill, TX 78642, USA
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="" *ngIf="PendingShow">
            <div class="nodata" *ngIf="PendingInvestor.length == 0">No Pending Investor...</div>
            <div *ngIf="PendingInvestor.length > 0">
              <div class="card-content" *ngFor="let item of PendingInvestor">
                <div class="row divradius">
                  <div class="col-auto card-image">
                    <img src="{{item.offeringPictureUrl}}" alt="image-missing">
                  </div>
                  <div class="col deal-content">
                    <div class="d-flex justify-content-between ">
                      <div class="deal-header mr-2">
                        <h3>{{item.offeringName}}</h3>
                        <p>{{item.offeringEntityName}}</p>
                      </div>
                      <div class="deal-sub-header d-flex">
                        <p class="apprbtn" *ngIf="item.status == 1">Approved</p>
                        <p class="penbtn"
                          *ngIf="item.status == 2 && item.iseSignCompleted == false && item.wireTransferDate != null">
                          Pending eSignature</p>
                        <p class="penbtn"
                          *ngIf="item.status == 2 && item.iseSignCompleted == true && item.wireTransferDate == null">
                          Pending Funding</p>
                        <p class="penbtn"
                          *ngIf="item.status == 2 && item.iseSignCompleted == false && item.wireTransferDate == null">
                          Pending eSignature and Funding</p>
                        <p class="awbtn"
                          *ngIf="item.status == 2 && item.iseSignCompleted == true && item.wireTransferDate != null">
                          Awaiting Approval</p>
                        <!-- <p class="request-date" *ngIf="item.status == 3">Pending Investor Signature and Funding</p>
                        <p class="request-date" *ngIf="item.status == 4">Pending Funding</p>
                        <p class="request-date" *ngIf="item.status == 10">Pending Reservation</p> -->
                        <p class="request-date ml-3"> <strong> {{item.createdOn | date}} </strong><br> <span
                            class="color-grey">Investment Request Date</span> </p>
                      </div>
                    </div>
                    <div class="deal-highlight-content dealheight d-flex mt-3 justify-content-between">
                      <div class="highlights">
                        <td *ngIf="item.userProfile.name != null">
                          <h3>{{item.userProfile.name}}</h3>
                        </td>
                        <td *ngIf="item.userProfile.firstName != null">
                          <h3>{{item.userProfile.firstName}} {{item.userProfile.lastName}}</h3>
                        </td>
                        <td *ngIf="item.userProfile.trustName != null">
                          <h3>{{item.userProfile.trustName}}</h3>
                        </td>
                        <td *ngIf="item.userProfile.retirementPlanName != null">
                          <h3>{{item.userProfile.retirementPlanName}}</h3>
                        </td>
                        <p>Profile</p>
                      </div>
                      <div class="highlights">
                        <td>
                          <h3>{{item.amount | currency:'USD' : 'symbol' : '1.0-0'}}</h3>
                        </td>
                        <p>Invested Amount</p>
                      </div>
                      <div class="highlights" *ngFor="let key of item.keyHighlights">
                        <div *ngIf="key.visibility == true">
                          <h3 *ngIf="key.name == 'Offering Size' || key.name == 'Minimum Investment'">{{key.value |
                            currency:'USD' : 'symbol' : '1.0-0'}}</h3>
                          <h3 *ngIf="key.name != 'Offering Size' && key.name != 'Minimum Investment'">{{key.value}}
                          </h3>
                          <p>{{key.name}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between mt-5">
                      <div>
                        <!-- <button id="myinvestment_pendingviewdetails" class="button-outline" (click)="onViewDetails(item)">View Details</button> -->
                        <app-view-details id="myinvestment_pendingviewdetails" [ViewDetailData]="item.offeringId">
                        </app-view-details>
                        <button id="myinvestment_pendingfundinginstructions" class="button ml-3"
                          *ngIf="item.wireTransferDate == null" (click)="onFundingInstruction(item)">Funding
                          Instructions</button>
                        <button id="myinvestment_pendingcompleteesign" class="button ml-3"
                          *ngIf="!item.iseSignCompleted" (click)="onCompleteEsign(item)">Complete eSign</button>
                      </div>
                      <div class="location">
                        <div class="tooltip-wrapper tooltip-lg">
                          <div class="tooltip-toggle icon-only clickable">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                              fill="#c8202f">
                              <path d="M0 0h24v24H0z" fill="none" />
                              <path
                                d="M12 12c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm6-1.8C18 6.57 15.35 4 12 4s-6 2.57-6 6.2c0 2.34 1.95 5.44 6 9.14 4.05-3.7 6-6.8 6-9.14zM12 2c4.2 0 8 3.22 8 8.2 0 3.32-2.67 7.25-8 11.8-5.33-4.55-8-8.48-8-11.8C4 5.22 7.8 2 12 2z" />
                            </svg>
                          </div>
                          <div class="tooltip-text">
                            2519 Co Rd 323, Liberty Hill, TX 78642, USA
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="" *ngIf="PastShow">
            <div *ngIf="PastInvestor.length == 0" class="nodata">No Past investment...</div>
            <div *ngIf="PastInvestor.length > 0">
              <div class="card-content" *ngFor="let item of PastInvestor">
                <div class="row divradius">
                  <div class="col-auto card-image">
                    <img src="{{item.offeringPictureUrl}}" alt="image-missing">
                  </div>
                  <div class="col deal-content">
                    <div class="deal-header">
                      <h3>{{item.offeringName}}</h3>
                      <p>{{item.offeringEntityName}}</p>
                    </div>
                    <div class="deal-highlight-content dealheight d-flex mt-3 justify-content-between">
                      <div class="highlights">
                        <td *ngIf="item.userProfile.name != null">
                          <h3>{{item.userProfile.name}}</h3>
                        </td>
                        <td *ngIf="item.userProfile.firstName != null">
                          <h3>{{item.userProfile.firstName}} {{item.userProfile.lastName}}</h3>
                        </td>
                        <td *ngIf="item.userProfile.trustName != null">
                          <h3>{{item.userProfile.trustName}}</h3>
                        </td>
                        <td *ngIf="item.userProfile.retirementPlanName != null">
                          <h3>{{item.userProfile.retirementPlanName}}</h3>
                        </td>
                        <p>Profile</p>
                      </div>
                      <div class="highlights">
                        <td>
                          <h3>{{item.amount | currency:'USD' : 'symbol' : '1.0-0'}}</h3>
                        </td>
                        <p>Invested Amount</p>
                      </div>
                      <div class="highlights" *ngFor="let key of item.keyHighlights">
                        <div *ngIf="key.visibility == true">
                          <h3 *ngIf="key.name == 'Offering Size' || key.name == 'Minimum Investment'">{{key.value |
                            currency:'USD' : 'symbol' : '1.0-0'}}</h3>
                          <h3 *ngIf="key.name != 'Offering Size' && key.name != 'Minimum Investment'">{{key.value}}
                          </h3>
                          <p>{{key.name}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between mt-5">
                      <!-- <button id="myinvestment_pastviewdetails" class="button-outline" (click)="onViewDetails(item)">View Details</button> -->
                      <app-view-details id="myinvestment_pastviewdetails" [ViewDetailData]="item.offeringId">
                      </app-view-details>
                      <div class="location">
                        <div class="tooltip-wrapper tooltip-lg">
                          <div class="tooltip-toggle icon-only clickable">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                              fill="#c8202f">
                              <path d="M0 0h24v24H0z" fill="none" />
                              <path
                                d="M12 12c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm6-1.8C18 6.57 15.35 4 12 4s-6 2.57-6 6.2c0 2.34 1.95 5.44 6 9.14 4.05-3.7 6-6.8 6-9.14zM12 2c4.2 0 8 3.22 8 8.2 0 3.32-2.67 7.25-8 11.8-5.33-4.55-8-8.48-8-11.8C4 5.22 7.8 2 12 2z" />
                            </svg>
                          </div>
                          <div class="tooltip-text">
                            2519 Co Rd 323, Liberty Hill, TX 78642, USA
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="" *ngIf="ResShow">
            <div *ngIf="ReservationInvestor.length == 0" class="nodata">No Reservations...</div>
            <div *ngIf="ReservationInvestor.length > 0">
              <div class="card-content" *ngFor="let item of ReservationInvestor">
                <div class="row divradius">
                  <div class="col-auto card-image">
                    <img src="{{item.offeringPictureUrl}}" alt="image-missing">
                  </div>
                  <div class="col deal-content">
                    <div class="d-flex justify-content-between">
                      <div class="deal-header">
                        <h3>{{item.offeringName}}</h3>
                        <p>{{item.offeringEntityName}}</p>
                      </div>
                      <div class="deal-sub-header d-flex">
                        <p class="request-date ml-3"> <strong> {{item.createdOn | date}} </strong><br> <span
                            class="color-grey">Request Date</span> </p>
                      </div>
                    </div>
                    <div class="d-flex mt-3 dealheight ">
                      <div class="highlights">
                        <td *ngIf="item.userProfile.name != null">
                          <h3>{{item.userProfile.name}}</h3>
                        </td>
                        <td *ngIf="item.userProfile.firstName != null">
                          <h3>{{item.userProfile.firstName}} {{item.userProfile.lastName}}</h3>
                        </td>
                        <td *ngIf="item.userProfile.trustName != null">
                          <h3>{{item.userProfile.trustName}}</h3>
                        </td>
                        <td *ngIf="item.userProfile.retirementPlanName != null">
                          <h3>{{item.userProfile.retirementPlanName}}</h3>
                        </td>
                        <p>Profile</p>
                      </div>
                      <div class="highlights">
                        <h3>{{item.amount | currency:'USD' : 'symbol' : '1.0-0'}}</h3>
                        <p>Reservation Amount</p>
                      </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between mt-5">
                      <div>
                        <app-view-details id="myinvestment_reservationviewdetails" [ViewDetailData]="item.offeringId">
                        </app-view-details>
                        <button id="myinvestment_reservationedit" class="button" (click)="onEditReservation(item)"
                          data-toggle="modal" data-target="#EditReservationPopup">Edit
                          Reservation</button>
                      </div>
                      <div class="location">
                        <div class="tooltip-wrapper tooltip-lg">
                          <div class="tooltip-toggle icon-only clickable">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                              fill="#c8202f">
                              <path d="M0 0h24v24H0z" fill="none" />
                              <path
                                d="M12 12c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm6-1.8C18 6.57 15.35 4 12 4s-6 2.57-6 6.2c0 2.34 1.95 5.44 6 9.14 4.05-3.7 6-6.8 6-9.14zM12 2c4.2 0 8 3.22 8 8.2 0 3.32-2.67 7.25-8 11.8-5.33-4.55-8-8.48-8-11.8C4 5.22 7.8 2 12 2z" />
                            </svg>
                          </div>
                          <div class="tooltip-text">
                            2519 Co Rd 323, Liberty Hill, TX 78642, USA
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</main>

<div class="modal modal_outer right_modal fade" data-keyboard="false" data-backdrop="static" id="EditReservationPopup"
  tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" [style.display]="EditReservationPopup ? 'block' : 'none'">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <h3>Edit Reservation</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
          (click)="EditReservationPopup = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body get_quote_view_modal_body">
        <div class="modal-content" style="max-height: 400px;overflow:auto;">
          <div class="">
            <div class="field-group">
              <div class="row mt-4">
                <div class="col">
                  <label for="">Investing As</label>
                  <select id="myinvestment_editreservepop_investingas" [(ngModel)]="InvestingProfile"
                    (click)="onChooseProfileChange($event)">
                    <option *ngFor="let item of ProfileValue" [value]="item.id == 'null' ? '': item.id"
                      [selected]="item.id == InvestingProfile">
                      <span *ngIf="item.name != null">{{ item.name }}</span>
                      <span *ngIf="item.firstName != null">{{ item.name }}</span>
                      <span *ngIf="item.trustName != null">{{ item.name }}</span>
                      <span *ngIf="item.retirementPlanName != null">{{ item.name }}</span>
                    </option>
                  </select>
                  <div *ngIf="InvestError" class="validation-msg">
                    <div *ngIf="InvestError">Selected Profile is required</div>
                  </div>
                </div>
                <div class="col mt-3">
                  <!-- <button type="button" class="button-outline" (click)="onAddNewProfile()">Add New Profile</button> -->
                  <app-add-profile id="myinvestment_editreservepop_addprofile" (messageEvent)="receiveMessage($event)"
                    [ProfileValue]="Profile"></app-add-profile>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col">
                  <label for="investmentamount" class="">Investment Amount</label>
                  <input id="myinvestment_editreservepop_investmentamount" type="text" class="input-field"
                    placeholder="Enter Amount Here" [(ngModel)]="InvestmentAmount" (blur)="onInsAmt($event)">
                  <div *ngIf="InsAmtError || MinimumError" class="validation-msg">
                    <div *ngIf="InsAmtError">Invested Amount is required</div>
                    <div *ngIf="MinimumError">Investment Amount is greater than reservation size</div>
                  </div>
                </div>
                <div class="col mt-3">
                  <h4 class="">Minimum Investment</h4>
                  <div>{{MinInvestment}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class=" modal-footer text-center mt-5">
          <button id="myinvestment_editreservepop_withdraw" class="button mr-3"
            (click)="onReserve('withdraw')">Withdraw</button>
          <button id="myinvestment_editreservepop_update" class="button-outline-secondary mr-3"
            (click)="onReserve('update')">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal modal_outer right_modal fade" data-keyboard="false" data-backdrop="static" id="ViewUpdatePopup"
  tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" [style.display]="ViewUpdatePopup ? 'block' : 'none'">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <h3>{{UpdateValue[0]?.name}} - Updates</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="ViewUpdatePopup = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body get_quote_view_modal_body">
        <div class="pt-3" style="max-height: 400px;overflow:auto;">
          <div class="modal-content pt-0 ">
            <div class="field-group">
              <div *ngIf="UpdateValue.length == 0">No updates yet...</div>
              <div *ngIf="UpdateValue.length != 0">
                <table class="documents-table mt-3">
                  <thead>
                    <tr>
                      <th scope="col">Subject</th>
                      <th scope="col">Date</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of UpdateValue">
                      <td>{{item.subject}}</td>
                      <td>{{item.createdOn | date}}</td>
                      <td>
                        <app-view-updates id="myinvestment_vup_view{{item.id}}" [UpdateData]="item.id">
                        </app-view-updates>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal modal_outer right_modal fade" id="DistributionHistoryPopup" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel2" [style.display]="DistributionHistoryPopup ? 'block' : 'none'">
  <div class="modal-dialog" role="document" style="width: 650px;">
    <div class="modal-content ">
      <div class="modal-header">
        <h3>Distribution History</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
          (click)="DistributionHistoryPopup = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body get_quote_view_modal_body">
        <div class="pt-3" style="max-height: 400px;">
          <div class="modal-content pt-0 ">
            <div class="field-group">
              <div *ngIf="DistributionHistoryDistribution.length == 0">No distribution yet...</div>
              <div *ngIf="DistributionHistoryDistribution.length != 0">
                <table class="documents-table mt-3">
                  <thead>
                    <tr>
                      <th scope="col">Payment Date</th>
                      <th scope="col">Amount</th>
                      <th scope="col">Profile</th>
                      <th scope="col">Type</th>
                      <th scope="col">Distribution Method</th>
                      <th scope="col">Memo</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of DistributionHistoryDistribution">
                      <td>{{item.receivedDate | date}}</td>
                      <td>{{item.amountReceived | currency:'USD' : 'symbol' : '1.0-0'}}</td>
                      <td>{{item.userProfile}}</td>
                      <td>{{item.type}}</td>
                      <td>{{item.distributionMethod}}</td>
                      <td>{{item.memo}}</td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-flex">
                  <div class="mr-3" *ngIf="DistributionHistory?.distributionFooter.totalInvested != 0">
                    <h3>{{DistributionHistory?.distributionFooter?.totalInvested | currency:'USD' : 'symbol' :
                      '1.0-0'}}</h3>
                    <p> Amount Invested</p>
                  </div>
                  <div class="mr-3" *ngIf="DistributionHistory?.distributionFooter.gainFromSale != 0">
                    <h3>{{DistributionHistory?.distributionFooter?.gainFromSale}}</h3>
                    <p> Gain from Sale</p>
                  </div>
                  <div class="mr-3" *ngIf="DistributionHistory?.distributionFooter.interest != 0">
                    <h3>{{DistributionHistory?.distributionFooter?.interest}}
                    </h3>
                    <p> Interest</p>
                  </div>
                  <div class="mr-3" *ngIf="DistributionHistory?.distributionFooter.operatingIncome != 0">
                    <h3>{{DistributionHistory?.distributionFooter?.operatingIncome}}</h3>
                    <p> Operating Income</p>
                  </div>
                  <div class="mr-3" *ngIf="DistributionHistory?.distributionFooter.preferredReturn != 0">
                    <h3>{{DistributionHistory?.distributionFooter?.preferredReturn}}</h3>
                    <p> Preferred Return</p>
                  </div>
                  <div class="mr-3" *ngIf="DistributionHistory?.distributionFooter.proceedsFromRefi != 0">
                    <h3>{{DistributionHistory?.distributionFooter?.proceedsFromRefi}}</h3>
                    <p> Proceeds from Refi</p>
                  </div>
                  <div class="mr-3" *ngIf="DistributionHistory?.distributionFooter.retainedEarnings != 0">
                    <h3>{{DistributionHistory?.distributionFooter?.retainedEarnings}}</h3>
                    <p> Retained Earning</p>
                  </div>
                  <div class="mr-3" *ngIf="DistributionHistory?.distributionFooter.returnOfCapital != 0">
                    <h3>{{DistributionHistory?.distributionFooter?.returnOfCapital}}</h3>
                    <p> Return of Capital</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="loader" *ngIf="Loader">
  <div class="loaderimgdiv"><img class="loaderimg" src="../../assets/images/loader.gif"></div>
</div>
