.login-content-wrapper {
    background: #fff3f4;
    padding-top: 8%;
    min-height: calc(100vh - 0px);

}
.input-field-btn {
    top: 11px;
}
.link {
    color: #c8202f;
}
.card{
    border-radius: 10px;
    box-shadow: 0 2px 16px rgb(0 0 0 / 10%);
}
.input-field:hover {
    box-shadow: 0 2px 16px rgb(0 0 0 / 10%);
    height: 45px !important;
    border: 0px solid #e9e9e9 !important;
}
.input-field {
    box-shadow: 0 2px 16px rgb(0 0 0 / 10%);
    height: 45px !important;
    border: 0px solid #e9e9e9 !important;
}
.signuptxt{
    font-size: 30px;
    font-weight: bold;
}
.auth-wrapper a {
    text-decoration: none;
}

input[type="text"]+.view-pwd svg {
    fill: var(--primary);
}

.modal-title {
    border-bottom: 1px solid var(--black-45);
}

.marginbtm{
    margin-bottom: 50px;
}